.App {
  padding: 20px;
  color: #fff;
}

.App h2{
  text-align: center;
}

article{
  background-color: gray;
  width: 30%;
  border: 2px solid #fff;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  color: #fff;
  padding: 10px 15px
}

.form-container{
  padding: 10px 5px;
  width:50%;
  margin-left: auto;
  margin-right: auto;
}

.form-container form{
  width:70%;
  margin-left: auto;
  margin-right: auto;
  background-color: gray;
  padding: 20px 10px;
  text-align: start;
}

.form-container form fieldset{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}

.form-container form label{
  font-weight: 700;
}

.form-container form #postTitle{
    width: 95%;
    padding: 8px 10px;
    margin-top: 8px;
}

.form-container form #postContent{
  width: 97%;
  height: 50px;
  resize: none;
  margin-top: 8px;
  padding: 5px;
}

.form-container form button{
    font-weight: 800;
    padding: 5px;
    width: 25%;
    cursor: pointer;
    margin: 0 auto;
    color: #525251;
    border: 1px solid #525251;
    border-radius: 5px;
}

.form-container form button:hover{
  background-color: #525251;
  color: #fff;
  border-color: #fff
}

.form-container form select{
    width: 98%;
    padding: 5px 10px
}

.postCredit{
  padding: 0 0 0 10px;
}

.posts-display-sec{
  text-align: center;
}

.postslist-content{
  text-align: justify;
  text-justify: auto;
}

.reaction-btns-container{

}

.reactionButton{
  background-color: gray;
  border: none;
  cursor: pointer;
  color: #fff;
}

.no-post-div{
  background-color: gray;
  width: 30%;
  height: 100px;
  font-size: 18px;
  font-weight: 900;
  text-align: center;
  border: 2px solid #fff;
  border-radius: 10px;
  margin: 10px auto 0 auto;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}